/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image-page: url("../images/cover-image-dark.png");
  --background-color-page: #000028;
  --background-color-title: #ff0070;
  --nav-color: #ff0070;
  --nav-color-opacity: RGB(255 0 112 / 0.4);
  --font-color-title: #ff0070;
  --font-color-subtitle: #000028;
  --font-color-text: #f1b2ce;
  --font-logo-text: #db00ff;
  --accent-color: #ff0070;
  --fotter-logo-shadow: #ff0070;
  --display-rec: block;
  --padding-rec: 38px;

  @media (768px <= width < 1023px) {
    --padding-rec: 144px;
  }

  @media (width >= 1024px) {
    --padding-rec: 0px;
  }
}
