/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image-page: url("../images/cover-image-light.png");
  --background-color-page: #fff1f7;
  --background-color-title: #ff8dcb;
  --nav-color: #353430;
  --nav-color-opacity: RGB(50 49 45 / 0.4);
  --font-color-title: #353430;
  --font-color-subtitle: #353430;
  --font-color-text: #353430;
  --font-logo-text: #ffc2e6;
  --accent-color: #ff8dcb;
  --fotter-logo-shadow: #ff0070;
}

.theme-light .header__rec {
  display: none;
}

.theme-light .header__theme-menu-list {
  padding-top: 64px;

  @media (768px <= width < 1023px) {
    padding-top: 170px;
  }

  @media (width >= 1024px) {
    padding-top: 0px;
  }
}
