/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--background-color-page, #000028);
  background-image: var(--background-image-page);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--page-font, monospace);
  font-weight: 400;
  font-size: var(--font-size-text);
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  min-block-size: 628px;
  padding: 10px;
  block-size: 100vh;

  @media (width >= 768px) {
    padding: 20px;
  }
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);

  @media (width >= 768px) {
    inset-inline-end: calc(var(--main-gap) + 10px);
    inset-block-start: calc(var(--main-gap) + 10px);
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);

  @media (width >= 768px) {
    inset-inline-start: calc(var(--main-gap) + 10px);
    inset-block-end: calc(var(--main-gap) + 10px);
  }
}

.header__rec {
  position: absolute;
  top: 12px;
  right: 38px;
  display: var(--display-rec);
  color: var(--nav-color);
  text-align: end;

  @media (width >= 768px) {
    top: 22px;
    right: 48px;
  }
}

.header__rec::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--nav-color);
  background-color: var(--nav-color);
  inset-inline-end: -19px;
  inset-block-start: 7px;
}

.header__theme-menu {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: end;
  align-items: start;

  @media (width >= 1024px) {
    padding-block-start: 0px;
    justify-self: center;
  }
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 70px;
  gap: 10px;
  align-self: start;
  padding-block-start: 64px;

  @media (width >= 768px) {
    gap: 11px;
    padding-block-start: 170px;
  }

  @media (width >= 1024px) {
    padding-block-start: 0px;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: auto;
    grid-column: 2;
    grid-row: 1/2;
    justify-content: center;
    align-items: start;
  }
}

.header__theme-menu-item {
  text-align: center;
  color: var(--nav-color);
  line-height: 10%;
  border: none;
}

.header__theme-menu-button {
  min-inline-size: 70px;
  min-block-size: 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__theme-menu-item:hover {
  outline: 1px solid var(--nav-color-opacity);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
  pointer-events: none;
}

.header__logo {
  font-size: var(--font-size-logo);
  font-weight: 700;
  line-height: 84%;
  color: var(--font-logo-text);
  align-self: center;
  text-shadow: 4px 4px var(--accent-color);
  padding-block-start: 4px;

  @media (width >= 768px) {
    margin-inline-start: -20px;
  }

  @media (width >= 768px) {
    font-size: var(--font-size-logo-max);
    padding-block-start: 2px;
  }
}

.header__text {
  padding-block-start: 44px;

  @media (width >= 768px) {
    justify-self: end;
    padding-block-start: 48px;
    inline-size: 364px;
  }

  @media (width >= 1024px) {
    justify-self: end;
    padding-block-start: 58px;
    inline-size: 491px;
  }
}

.title-decor {
  background-color: var(--background-color-title);
  color: var(--font-color-subtitle);
}

.header__subtitle {
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 130%;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 50px;
  padding: 40px 10px 40px;

  @media (width >= 768px) {
    padding: 60px 20px 61px;
  }
  @media (width >= 1024px) {
    padding: 30px 20px 60px;
    gap: 48px;
  }
}

.main__block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.main__block p:not(:last-child) {
  padding-block-end: 20px;

  @media (width >= 768px) {
    padding-block-end: 21px;
  }
}

.main__block-why {
  @media (width >= 768px) {
    grid-template-columns: 256px 1fr;
  }

  @media (width >= 1024px) {
    grid-template-columns: 335px 1fr;
    padding-block-start: 30px;
  }
}

.main__block-why .main__title {
  @media (width >= 768px) {
    max-inline-size: 236px;
    grid-row: 1/5;
  }
  @media (width >= 1024px) {
    max-inline-size: 315px;
    grid-row: 1/5;
  }
}

.main__block-why > p {
  @media (width >= 1024px) {
    line-height: 1.3065em;
  }
}

.main__title {
  line-height: 131%;
  color: var(--font-color-title);
  padding-block-end: 21px;
  font-size: inherit;
  font-weight: 700;
}

.main__subtitle {
  line-height: 125%;
  font-size: inherit;
  font-weight: 700;
}

.main__lead {
  line-height: 130%;
  font-size: inherit;
  font-weight: 400;
}

.main__subtitle + .main__lead {
  margin-block-start: 20px;
}

.main__text {
  line-height: 130%;
  color: var(--font-color-text);
  padding-block-start: 10px;
}

.main__text-link {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
  border-block-end: 1px solid transparent;
}

.main__text-link:hover {
  border-block-end: 1px solid var(--font-color-text);
}

.main__text-link:focus {
  outline: none;
}

.main__text-link:focus-visible {
  outline: 1px solid var(--font-color-text);
}

.main__block-what {
  padding-block-start: 1px;

  @media (width >= 768px) {
    padding-block-start: 0px;
  }

  @media (width >= 1024px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding-block-start: 0px;
    column-gap: 20px;
  }
}

.main__block-what .main__title {
  @media (width >= 768px) {
    padding: 31px 0 19px;
    max-inline-size: 236px;
  }

  @media (width >= 1024px) {
    grid-column: 1/4;
    grid-row: 1/2;
    padding: 31px 0 20px;
    max-inline-size: 315px;
  }
}

.main__block-what .main__subtitle {
  @media (width >= 1024px) {
    grid-row: 2/3;
  }
}

.main__block-how {
  @media (width >= 768px) {
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-template-rows: auto;
    padding: 30px 0 1px;
  }
  @media (width >= 1024px) {
    display: grid;
    grid-template-columns: 335px 1fr;
    grid-template-rows: auto;
    padding-block-start: 31px;
  }
}

.main__block-how .main__title {
  @media (width >= 768px) {
    grid-row-start: 1;
    grid-row-end: 12;
    max-inline-size: 236px;
  }
  @media (width >= 1024px) {
    grid-row-start: 1;
    grid-row-end: 12;
    max-inline-size: 315px;
  }
}

.main__block-how > p {
  @media (width >= 768px) {
    line-height: 1.295em;
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding-top: 1px;

  @media (width >= 768px) {
    padding-top: 30px;
    gap: 20px;
  }

  @media (width >= 1024px) {
    padding-top: 30px;
  }
}

.gallery__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 142px 355px 237px 355px 237px;
  gap: 10px;

  @media (width >= 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 317px;
    gap: 20px;
  }

  @media (width >= 1024px) {
    grid-template-columns: 1fr 1fr 314px;
    grid-template-rows: 260px 315px 433px;
    gap: 20px;
    padding-top: 1px;
  }
}

.gallery__item:nth-child(1) {
  @media (width >= 768px) {
    grid-column: 1/3;
  }
}

.gallery__item:nth-child(2) {
  @media (width >= 768px) {
    grid-column: 3;
    grid-row: 1/3;
    object-fit: cover;
  }
}

.gallery__item:nth-child(3) {
  @media (width >= 768px) {
    grid-column: 1;
    grid-row: 2/4;
    object-fit: cover;
  }
}

.gallery__item:nth-child(5) {
  @media (width >= 768px) {
    grid-column: 2/4;
    block-size: 100%;
  }
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  min-block-size: 628px;
  padding: 10px;
  block-size: 100vh;

  @media (width >= 768px) {
    padding: 20px;
  }
}

.footer__logo {
  font-size: var(--font-size-logo);
  color: var(--font-logo-text);
  text-shadow: 2px 2px var(--accent-color);
  font-weight: 700;
  align-self: center;
  justify-self: center;

  @media (width >= 1024px) {
    font-size: var(--font-size-logo-max);
    text-shadow: 2px 2px var(--fotter-logo-shadow);
  }
}
