/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--background-color-page, #000028);
  background-image: var(--background-image-page);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--page-font, sans-serif);
  padding: 10px;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr); 
  min-block-size: 628px;
  block-size: calc(100vh - 20px);
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.font_text {
  font-family: var(--page-font, sans-serif);
  font-weight: 400;
  font-size: var(--font-size-text);
}

.font_text_bold {
  font-family: var(--page-font, sans-serif);
  font-weight: 700;
  font-size: var(--font-size-text);
}

.header__theme-menu {
  justify-self: end;
  justify-content: center;
  
}
.header__rec {
  position: relative;
  padding: 1px 28px 40px 0;
  color: var(--nav-color);
  text-align: end;
}

.header__rec::after {
  content: '';
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--nav-color);
  background-color: var(--nav-color);
  inset-inline-end: 9px;
  inset-block-start: 8px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 70px;
  gap: 10px;
}

.header__theme-menu-item {
  text-align: center;
  color: var(--nav-color);
  line-height: 10%;
}

.header__theme-menu-button {
  min-inline-size: 70px;
  min-block-size: 26px;
  background-color: transparent;
  border: none;
}

.header__theme-menu-item:hover {
  outline: 1px solid var(--nav-color-opacity);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}

.header__logo {
  font-size: var(--font-size-logo);
  font-weight: 700;
  line-height: 84%;
  color: var(--font-logo-text);
  align-self: center;
  text-shadow: 4px 4px var(--accent-color);
}

.header__text {
  padding-block-start: 44px;
}

.title-decor {
  background-color: var(--background-color-title);
  color: var(--font-color-subtitle);
}

.header__subtitle {
  line-height: 130%; 
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 50px;
  padding: 51px 0 51px;
}

.main__block p:not(:last-child) {
  padding-block-end: 20px;
}

.main__title {
  line-height: 131%;
  color: var(--font-color-title);
  padding-block-end: 21px;
}

.subtitle {
  line-height: 125%; 
}

.main__lead {
  line-height: 130%;
}

.subtitle + .main__lead {
  margin-block-start: 20px;
}

.subtitle + figure {
  padding-block-start: 1px;
}

.main__text {
  line-height: 130%;
  color: var(--font-color-text);
  padding-block-start: 10px;
}

.main__text-link {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
  border-block-end: 1px solid transparent;
}

.main__text-link:hover {
  border-block-end: 1px solid var(--font-color-text);
}

.main__text-link:focus {
  outline: none;
}

.main__text-link:focus-visible {
  outline: 1px solid var(--font-color-text);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding-block-end: 51px;
}

.gallery__item {
  box-sizing: border-box;
  min-block-size: 142px;
}

.gallery__image {
  inline-size: 100%;
  max-inline-size: 100%;
  block-size: auto;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  min-block-size: 628px;
  block-size: calc(100vh - 20px);
  position: relative;
}

.footer__logo {
  font-size: var(--font-size-logo);
  color: var(--font-logo-text);
  text-shadow: 2px 2px var(--accent-color);
  font-weight: 700; 
  align-self: center;
  justify-self: center;
  
}